/* Fade */
.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    cursor: pointer;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    //background-color: #2098D1;
    color: #f0ad00;
}

/* Fade */
.hvr-links {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: color;
    transition-property: color;
    cursor: pointer;
}
.hvr-links:hover, .hvr-links:focus, .hvr-links:active {
    color: #f0ad00;
}

/*
#particles-js canvas {
    position: fixed;
    top:0;
    left:0;
    margin: 6vh 3vw;
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}
*/

#particles-js {
    position: absolute;
    width: 100vw;
    height: 150vh;

}